{% extends 'base.html' %}

{% block title %} {{ tabTitle }} {% endblock title %}

{% block content %}
    <h1>
        {{ title }}
    </h1>

    {% if action == "signup" %}
        <a href="{% url 'app_utenti:loginPage' %}">LOGIN</a>

        <!--SIGNUP PAGE-->
        <form action="{% url 'app_utenti:signupPage' %}" method="POST"> {% csrf_token %}
            {{ form.as_p }}

            <input type="submit" value="Registrati" />
        </form>
    {% elif action == "login"%}
        <a href="{% url 'app_utenti:signupPage' %}">Registrazione</a>

        <!--LOGIN PAGE-->
        <form action="{% url 'app_utenti:loginPage' %}" method="POST"> {% csrf_token %}
            {{ form.as_p }}

            <input type="submit" value="Accedi" />
        </form>
    {% endif %}

    <a href="{% url 'homepage' %}">Indietro</a>
    
    <!-- MESSAGE BOX FOR ERRORS-->
    <div>
        {% for message in messages %}
            <p>
                {{ message }}
            </p>
        {% endfor %}
    </div>
{% endblock content %}