{% extends 'baseEcommerce.html' %}

{% block title %}
    Pagamento
{% endblock title %}

{% block head %}
    {% load static %}

    <link rel="stylesheet" href="{% static 'css/cartPay.css' %}">
{% endblock head %}

{% block content %}
    {% if not buy_all %}
        <h1 class="title">Effettuare un bonifico di <span>{{ totalPrice }}</span> al seguente iban:</h1>
        <h1 class="title"><span>{{ iban }}</span></h1>
    {% else %}
        {% for order in orders %}
            <div class="payment">
                Bonifico di {{ order.total }} a {{ order.product.vendor }} al seguente IBAN: {{ order.product.vendor.iban }}
            </div>
        {% endfor %}
    {% endif %}
    
{% endblock content %}