{% extends 'baseEcommerce.html' %}

{% block title %}
    Confronta Prodotti
{% endblock title %}

{% block head %}
    {% load static %}

    <link rel="stylesheet" href="{% static 'css/compareProducts.css' %}">
{% endblock head %}

{% block content %}
<br>
    <form method="POST" action={% url 'app_prodotti:compareCategories' %}> {% csrf_token %}
        {{ form.as_p }}
        {% comment %} <input type="submit" value="Paragona" /> {% endcomment %}
        <button class="button-link" type="submit">
            <span class="circle" aria-hidden="true">
                <span class="icon arrow"></span>
            </span>
            <span class="button-text"> Paragona </span>
        </button>
    </form>

    {% if error %}
        <div class="message">
            {{ message }}
        </div>
    {% endif %}
    
{% endblock content %}