{% extends 'baseEcommerce.html' %}

{% block title %}
    Dettagli Prodotto {{ object.name }}
{% endblock title %}

{% block head %}
    {% load static %}

    <link rel="stylesheet" href="{% static 'css/productDetails.css' %}">
{% endblock head %}

{% block content %}
    <h1 class="title">
        Dettagli di {{ object.name }}
    </h1>

    <div class="details">
        <img src="{{ object.image.url }}"> 

        <div class="productDescription"> <br>{{ object.description }} </div> 
        <span class="productPrice">{{ object.price }}€</span>
        <div class="productBrand">Prodotto da <span class="brand">{{ object.brand }}</span></div>
        <br><br>{{ object.category }}<br><br>
        <div>Venduto da <a class="vendor" href="{% url 'app_prodotti:vendorDetails' object.vendor.id %}">{{ object.vendor }}</a></div>
        &#9733;{{ object.getTotalScore }}<br><br><br><br><br><br><br><br><br><br><br><br>
    </div>

    {% if request.user.is_authenticated %}
        {% if not isReviewed %}
            <a href="{% url 'app_prodotti:productReview' product.id %}"><h1 class="title subtitle review">Lascia una recensione se ancora non lo hai fatto</h1></a>
        {% endif %}

        <h1 class="title">
            Votazioni
        </h1>
        {% comment %} <div>
            {% for score in object.getScoresInformations %}
                <div style="border-style: solid;">
                    {% for info in score %}
                        {{ info }}<br>
                    {% endfor %}
                </div><br>
            {% endfor %}
        </div> {% endcomment %}
        <section>
            {% for score in object.getScoresInformations %}
                <div class="card">
                    <div class="scoreValue">{{ score.value }}&#9733;</div><br>
                    <div class="scoreUser">{{ score.text }}</div><br>
                </div>
            {% endfor %}
        </section>
    {% endif %}
{% endblock content %}

<!--
    TODO: Cura grafica 
-->