{% extends 'baseEcommerce.html' %}

{% block title %}
    Dettagli Prodotto {{ object.name }}
{% endblock title %}

{% block content %}
    <h1>
        Dettagli di {{ object.name }}
    </h1>

    <div>
        <b>Nome Articolo</b>: {{ object.name }}
    </div>
    <div>
        <b>Descrizione Articolo</b>: {{ object.description }}
    </div>
    <div>
        <b>Prezzo</b>: {{ object.price }}
    </div>
    <div>
        <b>Brand</b>: {{ object.brand }}
    </div>
    <div>
        <b>Categoria</b>: {{ object.category }}
    </div>
    <div>
        <b>Venditore</b>: <a href="{% url 'app_prodotti:vendorDetails' object.vendor.id %}">{{ object.vendor }}</a>
    </div>
    <div>
        <br><br><b>Score</b>: {{ object.getTotalScore }}
    </div>
    <img src="{{ object.image.url }}"> 

    {% if request.user.is_authenticated %}
        <a href="">Lascia una recensione oppure modificala se già fatta</a>
        <h2>
            Votazioni
        </h2>
        <div>
            {% for score in object.getScoresInformations %}
                <div style="border-style: solid;">
                    {% for info in score %}
                        {{ info }}<br>
                    {% endfor %}
                </div><br>
            {% endfor %}
        </div>
    {% endif %}
{% endblock content %}

<!--
    TODO: Cura grafica 
-->