{% extends 'baseEcommerce.html' %}

{% block title %}
    Recensione Venditore
{% endblock title %}

{% block head %}
    {% load static %}

    <link rel="stylesheet" href="{% static 'css/review.css' %}">
{% endblock head %}

{% block content %}
    {% if vendor is not None %}
        <form method="POST" action="{% url 'app_prodotti:vendorReview' vendor %}"> {% csrf_token %}
    {% else %}
        <form method="POST" action="{% url 'app_prodotti:productReview' product %}"> {% csrf_token %}
    {% endif %}
        {{ form.as_p }}
        <button class="button-link">
            <span class="circle" aria-hidden="true">
                <span class="icon arrow"></span>
            </span>
            <span class="button-text"> Vota </span>
        </button>
    </form>
{% endblock content %}