{% extends 'base.html' %}

{% block navigator %}
	<nav>
        <ul class="nav-list">
            <li class="nav-item title">eGym</li>

            {% if not request.user.is_authenticated %}
                <li class="nav-item"><a href="{% url 'app_utenti:loginPage' %}">Accedi</a></li>
            {% endif %}

            <li class="nav-item"><a href="{% url 'welcomePage' %}">Home</a></li>

            <li class="nav-item"><a href="{% url 'app_prodotti:productsList' %}">Lista Prodotti</a></li>

            {% if request.user.is_authenticated %}
                <li class="nav-item"><a href="{% url 'app_prodotti:compareCategories' %}">Confronta</a></li>
            {% endif %}

            <li class="nav-item"><a href="{% url 'app_prodotti:searchResults' %}">Cerca</a></li>

            {% if request.user.is_authenticated %}
                <li class="nav-item">
                    <a href="{% url 'logout' %}">
                        <button class="btn-primary">Logout</button>
                    </a>
                </li>
            {% endif %}
        </ul>
      </nav>
{% endblock navigator %}