{% extends 'baseEcommerce.html' %}

{% block title %}
    Benvenuto
{% endblock title %}

{% block head %}
    {% load static %}

    <link rel="stylesheet" href="{% static 'css/productCard.css' %}">
    <link rel="stylesheet" href="{% static 'css/vendorWelcomePage.css' %}">
    <link rel="stylesheet" href="{% static 'css/welcomePage.css' %}">
{% endblock head %}

{% block content %}
    <h1 class="title">
        Benvenuto <span class="titleHover">{{ request.user }}</span>
    </h1>

    <!-- Recommendation System -->
    {% if request.user.is_authenticated %}
        {% if orders|length > 0 %}
            <h1 class="title subtitle"> <i class="fa-solid fa-bell"></i> Ordini Spediti</h1>
            <section class="slider">
                {% for order in orders %}
                    <div class="order">
                        <br>
                        <i class="fa-regular fa-bell"></i>
                        <div>Ordine di {{ order.quantity }} <br/><b><span class="product">{{ order.product.name }}</span></b><br>spedito.</div>
                    </div>
                {% endfor %}
            </section>
        {% endif %}    

        {% if not zeroOrders %}
            {% if suggestedProductBySameCategory|length > 0 %}
                <h1 class="title subtitle">
                    Suggeriti in base alla categoria più acquistato...
                </h1>

                <section class="slider">
                    {% for product in suggestedProductBySameCategory %}
                        <div class="card">
                            <div class="card-content">
                                <img src="{{ product.image.url }}" alt="" class="card-img" onerror="this.onerror=null; this.src='{% static product.image.url %}'">
                                <h1 class="card-title">{{ product.name }}</h1>
                                <div class="card-body">
                                    <div class="card-star">
                                        <span class="rating-value">{{ product.getTotalScore }}</span>
                                        <span class="star">&#9733;</span>
                                    </div>
                                <p class="card-price"> {{ product.price}}€</p>
                            </div>
                            <div class="card-footer">
                                <a href="{% url 'app_prodotti:productDetails' product.id %}">
                                    <button class="btn btn-success">Guarda</button>
                                </a>
                                </div>
                            </div>
                        </div>  
                    {% endfor %}
                </section>
            {% endif %}

            {% if suggestedProductBySameBrand|length > 0 %}
                <h1 class="title subtitle">
                    Suggeriti in base al brand più acquistato...
                </h1>

                <section class="slider">
                    {% for product in suggestedProductBySameBrand %}
                        <div class="card">
                            <div class="card-content">
                                <img src="{{ product.image.url }}" alt="" class="card-img" onerror="this.onerror=null; this.src='{% static product.image.url %}'">
                                <h1 class="card-title">{{ product.name }}</h1>
                                <div class="card-body">
                                    <div class="card-star">
                                        <span class="rating-value">{{ product.getTotalScore }}</span>
                                        <span class="star">&#9733;</span>
                                    </div>
                                <p class="card-price"> {{ product.price}}€</p>
                            </div>
                            <div class="card-footer">
                                <button class="btn btn-success">Guarda</button>
                                </div>
                            </div>
                        </div>  
                    {% endfor %}
                </section>
            {% endif %}
        {% else %}
            <h1 class="title subtitle">
                Zero ordini effettuati, non posso consigliarti niente.
            </h1>
        {% endif %}
    {% endif %}
{% endblock content %}